*{
    border: 0;
    margin: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}
body{
    background: #222;

}
.card
{
    width: 90%;
    max-width: 470px;
    background: linear-gradient(135deg, #00feba,#5b458a);
    color: #fff;
    margin: 100px auto 0;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;
    /* border-radius: 100%; */
}
.search
{
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: space-between;
    /* border-radius: 100%; */
}
.search input
{
    border: 0;
    outline: 0;
    background: #ebfffc;
    color: #555;
    padding: 10px 25px;
    height: 55px;
    /* border: 30px; */
    flex: 1;
    /* margin-right: 16px; */
    font-size: 18px;
    border-radius: 100px;
    box-shadow: 0 0 15px 0 #acacac;
}

.search input:focus,
.search button {
    box-shadow: 0 0 10px 0 #909090;
}
.search button
{
    border: 0;
    outline: 0;
    background: #ebfffc;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    right: 0;
    cursor: pointer;
    position: absolute;
}
.search button img{
    width: 16px;
}
#weather-icon{
    width: 170px;
    margin-top: 30px;
}
.weather h1{
    font-size: 80px;
    font-weight: 500;
}
.weather h2{
    font-size: 45px;
    font-weight: 400;
    margin-top: -10px;
}
.details
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 50px;
}
.details .col{
    text-align: left;
    display: flex;
    align-items: center;
}
.col img
{
    width: 40px;
    margin-right:10px ;
}
.humidity,.wind
{
    font-size: 20px;
    margin-top: -6px;
    font-weight: 400;
}
.weather
{
    display: none;
}
.error
{
    text-align: left;
    margin-left: 10px;
    font-size: 14px;
    display: none;
}

.search {
    z-index: 20;
    position: relative;
}

.search-container {
    position: relative;
}

.result-box-container {
    background: #ebfffc;
    color: #222;
    padding: 10px;
    border-radius: 30px;
    position: absolute;
    top: 15px;
    width: 100%;
    opacity: 0;
    z-index: 1;
    visibility: hidden;
    transition: all 0.25s ease;
}

#result-box {
    overflow-y: auto;
    max-height: 300px;
    padding: 0 15px;
}

.result-box-container.visible {
    visibility: visible;
    padding-top: 60px;
    opacity: 1;
}

#result-box option {
    font-size: 1em;
    font-weight: 400;
    padding: 15px 0px;
    white-space: normal;
    cursor: pointer;
}

#result-box option:hover {
    color: #5b458a;
}
#result-box option:last-child {
    padding-bottom: 20px;
}
.result-box ul
{
    border: 1px solid #fff;
    padding: 15px 10px;
}
.result-box ul li
{
    list-style: none;
    border-radius: 3px;
    padding: 5px 2px;
    cursor: pointer;
}
.result-box ul li:hover
{
    background: #e9f3ff;
}